<div>
Generating...
<br/>
<br/>
Try reloading after 10~20 seconds.
<br/>
I'll add auto reload later.
<br/>
<br/>
Please DOWNLOAD the image after generation.
<br/>
It will be DELETED in one day to save server disk space.
<br/>
<br/>
<%= image_tag('/gif/' + @uid + '.gif') %>
</div>
