# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 576a51e8957b729179192559943499c51d4828fc8f48f79d54b81f5e876f9f245e0c324057c694c8464c31e695c080a59409ce3933ab2266e71862b7ca806dc1

test:
  secret_key_base: 91bb61954305d53a80e71dc26a1e8acbe5d1e6d0533ef6bc90214250449f018344ce2c7f351bf9a2e432f40a8a6d72862e514fbdec6b6fc3f19bf1819e5dacb3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:
